/* Shared style section */

body {
    font-family: 'Lato';
    margin: 0;
    padding: 0;
}

/* Header style section */

.header {
    background: rgba(229, 84, 115, 0.10);
    height: 850px;
    width: auto;
    display: flex;
    align-items: flex-end;
    justify-content: center;

}

.banner-content {
    margin-left: 127px;
    padding-bottom: 150px;
}

.banner-title {

    color: #272727;
    width: 708px;
    font-size: 80px;
    font-weight: 800;
    line-height: normal;
    margin-bottom: 32px;

}

.banner-description {

    width: 634px;
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 32px;

}

.btn-shop {

    border-radius: 8px;
    padding: 20px 43px;
    gap: 10px;
    background: #E55473;
    color: #FFF;
    border: none;
    font-size: 20px;
    font-weight: 400;
}

.banner-image {
    margin-left: 100px;
}

/* Featured Flower style section */
.featured-flower-section {
    display: flex;
    justify-content: center;
}

.featured-container {
    text-align: center;
}

.featured-flower-title {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    line-height: normal;
    margin-top: 174px;
    margin-bottom: 24px;
}

.featured-description {
    width: 594px;
    margin: 0 auto;
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 48px;

}

.flower-container {
    display: flex;
    justify-content: center;


}

#featured-flowers-1 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    width: 464px;
    height: 538px;
    margin: 14px;
}

#featured-flowers-1 img {
    padding: 110px 78px 0 76px;

}

#featured-flowers-2 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    width: 464px;
    height: 538px;
    margin: 14px;

}

#featured-flowers-2 img {
    padding: 117px 47px 51px 47px;
}

#featured-flowers-3 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    width: 464px;
    height: 538px;
    margin: 14px;

}

#featured-flowers-3 img {
    padding: 67px 75px 0 75px;
}

.featured-image-title {
    color: #272727;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;
}

/* Hot Deal style section */

.hot-deal-section {

    background: rgba(229, 84, 115, 0.05);
    border-radius: 8px;
    height: 620px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-top: 200px;
}

.hot-deal-content {
    padding-bottom: 150px;
    text-align: center;
    align-items: center;
    margin-right: 186px;
}

.hot-deal-title {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    line-height: normal;
    margin-bottom: 24px;

}

.hot-deal-description {

    width: 65%;
    margin: 0 auto;
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 32px;

}

.btn-signup {
    width: 155px;
    height: 64px;
    border-radius: 8px;
    background: #E55473;
    color: #FFF;
    border: none;
    font-size: 20px;
    font-weight: 400;

}

.hot-deal-image {
    padding-bottom: 95px;
}


/* Review Section  */

.review-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    /* padding-left: 100px; */
    width: 80%;
    border-radius: 10px;
    border-color: #111010;
    background-color: #F7F3F1;
    margin-top: 128px;
}

.review-content {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 50%;


}

.review-title {

    font-size: 60px;
    font-weight: 400;

}

.user-review {
    font-size: 20px;
    width: 70%;
    margin-top: 0;
    margin-bottom: 50px;
}

.reviewer-name {
    margin-top: 20px;
    font-size: 20px;

}

.parent-review-banner {
    width: 50%;
}

.review-banner {
    background-image: url('../images/bg-9.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 768px;
    width: 100%;


}

.review-banner-title {
    color: #FFF;
    font-size: 88px;
    margin-bottom: 30px;
}

.review-banner-description {
    color: #FFF;
    margin-top: 0;
    font-size: 20px;
    width: 380px;
}

.btn-shop-now {
    width: 155px;
    height: 64px;
    border-radius: 15px;
    border-style: none;
    background: #E55473;
    color: #FFF;
    font-size: 18px;
    font-weight: 400;
    margin-top: 15px;
    margin-bottom: 100px;
}

/* Instagram Section */

.instagram-section {
    display: flex;
    justify-content: center;
    margin-top: 128px;

}

.instagram-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 128px;

}

.instagram-title {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-bottom: 10px;
}

.instagram-description {
    width: 594px;
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 48px;
    text-align: center;
    display: flex;
}

.instagram-photos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.instagram-photos img {
    padding: 10px;
}

/* Latest Deals Styles section */


.latest-deals-section {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.latest-deals-content {
    background-image: url('../images/Rectangle\ 9.png');
    width: 1440px;
    height: 449px;
    margin-bottom: 128px;

}

.latest-deals-title {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    margin-top: 122px;
}

.latest-deals-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-top: -30px;
}

.subscribe-content input {
    color: rgba(39, 39, 39, 0.60);
    width: 700px;
    height: 64px;
    border-radius: 8px;
    border-style: none;
    font-size: 16px;
    font-weight: 400;
    margin-top: 30px;
    padding-left: 20px;

}

.btn-subscribe {
    width: 150px;
    height: 64px;
    border-radius: 8px;
    border-style: none;
    background: #E55473;
    color: #FFF;
    font-size: 20px;
    font-weight: 400;
    margin-left: 12px;
}

/* Footer style section */

.footer {
    background: #111010;
    width: 100%;
    height: 449px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.footer-title-color {
    color: #E55473;

}

.footer-title {
    color: #FFFFFF;
    font-size: 48px;
    font-weight: 800;
    margin-bottom: 0;
}

.footer-description {
    width: 600px;
    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
}

.footer-copyright {
    color: rgba(255, 255, 255, 0.40);
    text-align: center;
    font-size: 16px;
    font-weight: 300;
    margin-top: 32px;
}

.hide {
    display: none;
}

/* Smaller Devices */

@media screen and (max-width:576px) {
    .header {
        display: flex;
        flex-direction: column;
        height: auto;
    }

    .banner-content {
        padding: 0;
        margin: 0 auto;
        text-align: center;
    }

    .banner-title {
        margin: 0 auto;
        margin-top: 60px;
        margin-bottom: 30px;
        width: 80%;
        font-size: 40px;
    }

    .banner-description {
        margin: 0 auto;
        margin-bottom: 30px;
        width: 90%;
    }

    .btn-shop {
        margin-bottom: 50px;
    }

    .banner-image {
        margin: 0 auto;
        justify-content: center;
        align-items: center;
        height: 300px;

    }

    .featured-flower-title {
        font-size: 35px;
    }

    .featured-description {
        width: 70%;
        margin: 0 auto;
    }

    .flower-container {
        flex-direction: column;
        align-items: center;

    }

    .flowers h3 {
        margin-bottom: 50px;
    }

    #featured-flowers-1 {
        width: 70%;

    }

    #featured-flowers-1 img {
        width: 60%;
        padding: 110px 0px 0px 0px;

    }

    #featured-flowers-2 {
        width: 70%;
    }

    #featured-flowers-2 img {
        width: 60%;
        padding: 160px 10px 0 10px;

    }

    #featured-flowers-3 {
        width: 70%;
    }

    #featured-flowers-3 img {
        width: 60%;
        padding: 110px 10px 0 10px;

    }

    .hot-deal-content {
        margin: 0 auto;
        width: 90%;
        padding-bottom: 30px;
    }

    .hot-deal-image {
        display: none;
    }

    .review-section {
        width: 100%;
    }

    .review-title {
        font-size: 30px;
    }

    .user-review {
        width: 80%;
    }

    .review-banner-title {
        font-size: 30px;
    }

    .review-banner-description {
        width: 90%;

    }

    .instagram-description {
        width: 70%;
    }

    .instagram-photos img {
        width: 40%;
    }

    .latest-deals-content {
        width: 100%;
        height: 100%;
    }

    .subscribe-content input {

        width: 70%;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .btn-subscribe {
        margin-bottom: 10px;
    }

    .footer-description {
        width: 75%;
        margin: 0 auto;
    }

}

/* Medium Devices */

@media screen and (min-width:576px) and (max-width:992px) {

    .header {
        display: flex;
        flex-direction: column;
        height: auto;
    }

    .banner-content {
        padding: 0;
        margin: 0 auto;
        text-align: center;
    }

    .banner-title {
        margin: 0 auto;
        margin-top: 60px;
        margin-bottom: 30px;
        width: 80%;
        font-size: 60px;
    }

    .banner-description {
        margin: 0 auto;
        margin-bottom: 30px;
        width: 90%;
    }

    .btn-shop {
        margin-bottom: 50px;
    }

    .banner-image {
        margin: 0 auto;
        justify-content: center;
        align-items: center;
        height: 500px;

    }


    .flower-container {
        flex-direction: column;
        gap: 50px;
        align-items: center;

    }

    .hot-deal-content {
        padding-bottom: 150px;

        margin: 0 auto;
    }

    .review-section {
        width: 100%;
    }

    .review-title {
        font-size: 60px;
    }

    .user-review {
        width: 90%;
    }

    .review-banner-title {
        font-size: 60px;
    }

    .review-banner-description {
        width: 90%;

    }


    .instagram-photos img {
        width: 40%;
    }

    .latest-deals-content {
        width: 100%;
    }

    .subscribe-content input {
        width: 70%;
    }

}

/* Larger Devices */

@media screen and (min-width:992px) and (max-width:1400px) {

    .header {
        display: flex;
        justify-content: center;
        align-items: center;
        height: auto;
    }

    .banner-content {


        text-align: left;
    }

    .banner-title {

        margin-top: 60px;
        width: 80%;
        font-size: 70px;
    }

    .banner-description {

        width: 70%;
    }

    .btn-shop {}

    .banner-image {
        margin: 0 auto;
        justify-content: center;
        align-items: center;
        height: 600px;
    }


    .flower-container {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;

    }
}